.form {
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
.form .logo {
  width: 300px;
}
.form img {
  align-self: center;
  margin: 30px 0;
}

.form h2 {
  margin: 0;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.form p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.inner {
  display: flex;
  flex-direction: column;
}

.inner label {
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.inner input,
.inner textarea,
.inner select {
  padding: 5px 0;
  /* border-bottom: 1px solid #ccc; */
  /* outline: none; */
  margin: 15px 0 0;
  /* transition: all 0.5s; */
  /* text-transform: capitalize; */
  background: transparent !important;
}
/* .inner input:focus,
/* .inner.error textarea, */
/* .inner.error select { */
/* border-color: #883395 !important; */
/* } */

.inner.error input,
.inner.error textarea,
.inner.error select {
  /* border-bottom: 1px solid red; */
}
.inner.error span {
  font-size: 10px;
  margin: 0 5px;
  color: red;
}

.form .button {
  padding: 5px 30px;
  margin: 50px 0;
  cursor: pointer;
  background: #883395;
  border: none;
  border-radius: 4px;
  color: #fff;
  outline: none;
  font-size: 30px;
  align-self: flex-end;
}

button:active {
  transform: scale(1.05);
}

.checker {
  margin-top: 10px;
  padding: 5px;
  display: flex;
  cursor: pointer;
}

.checker label {
  cursor: pointer;
  font-size: 13px;
  line-height: 20px;
  margin: 0;
}

.checker input[type='checkbox'] {
  margin-right: 10px;
  margin-top: 5px;
}

.inner.error .checker label {
  color: red;
}

.date {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.date input {
  margin-top: 0;
}
.date label {
  margin-bottom: 0;
  color: #888;
}

.errorBox {
  padding: 10px;
  background-color: rgb(255, 72, 72);
  border-radius: 5px;
  color: #fff;
}

.errorBox h3 {
  margin: 0;
  margin-bottom: 5px;
}
.section {
  margin-top: 30px;
}

.removeBtn {
  border: 1px solid red;
  color: red;
  padding: 5px 10px;
  cursor: pointer;
  align-self: flex-end;
}
