* {
  box-sizing: border-box;
}
.main {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  margin: 0;
}
.titleHead {
  margin: 20px 0 0;
  font-weight: bold;
  color: #883395;
}
a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
  background-color: #883395;
  padding: 10px 20px;
  margin: 10px;
  color: #fff;
  border-radius: 5px;
}

a:hover {
  transform: scale(1.1);
}
.continueButton {
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #883395;
  color: #fff;
  border: none;
  margin-top: 50px;
  cursor: pointer;
}
.sect1 {
  margin: 20px 0 0;
  font-weight: bold;
  color: #883395;
}
.group1 {
  margin: 20px 0 0;
  padding: 10px;
  background-color: #883395;
  color: #fff;
}

.group2 {
  margin: 20px 0;
}

.group2 h4 {
  color: #aaa;
}
.group2 h2 {
  text-transform: capitalize;
}
.paystack-button {
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  background-color: #883395;
  color: #fff;
  margin: 20px;
}

.mobileCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}
.mobileCenter img {
  width: 90%;
}
.vehicle-form {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.vehicle-form button {
  background-color: #883395;
}
.vehicle-form .preview {
  width: 250px;
  height: 150px;
}
.selector {
  margin: 20px 0;
}

.selector input {
  display: none;
}

.selector label {
  cursor: pointer;
  display: flex;
  /* background-color: #883395; */
  color: #fff;
  border-radius: 5px;
  width: 250px;
  height: 150px;
  /* justify-content: center; */
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.selector label:active {
  transform: scale(1.1);
}
.selector label img {
  height: 150px;
}
.selector label div {
  height: 150px;
  background: #883395;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
}
.main img {
  width: 90%;
}
.oneCard {
  padding: 10px 5px;
}
