* {
  box-sizing: border-box;
}
.main {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  margin: 0;
}
.titleHead {
  margin: 20px 0 0;
  font-weight: bold;
  color: #883395;
}
a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
  background-color: #883395;
  padding: 10px 20px;
  margin: 10px;
  color: #fff;
  border-radius: 5px;
}

a:hover {
  transform: scale(1.1);
}
.continueButton {
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #883395;
  color: #fff;
  border: none;
  margin-top: 50px;
  cursor: pointer;
}
.sect1 {
  margin: 20px 0 0;
  font-weight: bold;
  color: #883395;
}
.group1 {
  margin: 20px 0 0;
  padding: 10px;
  background-color: #883395;
  color: #fff;
}

.group2 {
  margin: 20px 0;
}

.group2 h4 {
  color: #aaa;
}
